.path-wishlist{

    width:100%;
    height: 50px;
    display: flex;
    justify-content:center;
    /* border:1px solid red; */
}

.path-title-wishlist{
    width:78%;
    /* border:1px solid red; */
    display: flex;
    text-align: left;
    color : #9D9D9D;
    font: normal normal 800 14px/0px Roboto;
    align-items: center;
}

.wishlist-title{
   font-size: 20px;
   font-weight: 600;
   font-family:'roboto';
}


.wishlist-outercontainer{
    width:88%;
    height:auto;
    /* border: 1px solid red; */
    justify-content: center;
    display: flex;

}

.mywishlist-box{
    border: 1px solid #70707063 ;
    width:75%;
      height: auto;
 
 

}

 .wishlist-title{
    width:100%;
    display: flex;
    justify-content: space-between;
    height:70px;
    align-items: center;
    /* border:1px solid red; */
   background-color: #F5F5F5;
 }   

 .location-bar{
    width: 275px;
    height:40px;
    border: 1px solid #707070;
    opacity:0.24;

 }

 .row_wishlistitem{
    width:90%;
    margin-left:40px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;

 }

 
 .itemdetails-wishlist{
    width:250px;
    height:inherit;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
 }

 .itemposter-wishlist{
    height:inherit;
    width:121px;
    background-image: url('../assets/Image\ 36.png');
    background-size:cover;
 }


 .book-details-wishlist{
    width:212px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left: 10px;
 }

 #wishlistitem-title{
    font: normal normal 600 14px/1px Roboto;
 }
 #wishlistitem-author{

    font: normal normal 600 10px/3px Roboto;
    color: #878787;
}
 #Price{
    font-weight: 900;
  font-size: 16px;
  font-family: 'Roboto';
  position: relative;
  bottom:15px;
  
 }
 #discount-price{
    font-size: 10px;
    color: #878787;
    font: normal normal 600 10px/0px Roboto;
    text-decoration: line-through;
    position: relative;
    left:70px;
    bottom:40px;
 }


 
    
 .remove-from-wishlist{

    font-size:10px;
    font-family:'Lato';
    font-weight: 600;
    cursor: pointer;
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    position: relative;
    left:270px;
}

#wishlist-title{

   margin-left: 42px;
   font-family:'Lato';
}


@media screen and (min-width:320px) and (max-width:600px) {
   .mywishlist-box {
      border: 1px solid #707070  63;
      width: 100%;
      height: auto;  
  }


  .wishlist-outercontainer {
   width: 100%;
   height: auto;
   /* border: 1px solid red; */
   justify-content: center;
   display: flex;
}

.remove-from-wishlist {
   font-size: 10px;
   font-family: 'Lato';
   font-weight: 600;
   cursor: pointer;
   /* border: 1px solid red; */
   display: flex;
   align-items: center;
   position: relative;
   left: 20px;
}

   
}

@media screen and (min-width:600px) and (max-width:900px) {
   .mywishlist-box {
      border: 1px solid #707070  63;
      width: 100%;
      height: auto;  
  }


  .wishlist-outercontainer {
   width: 100%;
   height: auto;
   /* border: 1px solid red; */
   justify-content: center;
   display: flex;
}



.remove-from-wishlist {
 
   left: 135%;
}



}

